{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2 table-title">
        <div class="d-flex align-items-center justify-content-between">
          <h1 class="text-center">Tags List</h1>
          <div class="d-flex align-items-center">
            <a class="btn btn-primary" href="{% url 'tag-create' %}">
              Add New Tag
            </a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table custom-table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Update</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% load crispy_forms_filters %}
          <form action="" method="get">
            {% csrf_token %}


          </form>
            {% if tag_list %}
              {% for tag in tag_list %}
                <tr>

                  <td class="custom-td">{{ tag.name }}</td>
                  <td class="custom-td">
                    <a href="{% url 'tag-update' pk=tag.id %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a></td>
                  <td class="custom-td">
                    <a href="{% url 'tag-delete' pk=tag.id %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colspan="2" class="text-center custom-td">There are no tags.</td>
              </tr>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
